<div class="flex-security">
    <div class="">
        <div class="security">
            <i class="shipping fast icon"></i>
            <p>Livraison garantie</p>
        </div>
    </div>
    <div class="">
        <div class="security">
            <i class="calendar alternate outline icon"></i>
            <p>Retourner avant 30 jours</p>
        </div>
    </div>
    <div class="">
        <div class="security">
            <i class="thumbs up outline icon"></i>
            <p>Clients très satisfait</p>
        </div>
    </div>
    <div class="">
        <div class="security">
            <i class="phone square icon"></i>
            <p>01 .. .. ..</p>
        </div>
    </div>
</div>